
/**
 * Dropdown
 */

.dropdown {
	position: relative;
}

.dropdown .content {
	position: absolute;
	display: none;
	z-index: 9999;
	background-color:#ffffff;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
	border-radius: 12px;
	padding: 8px;
}

.dropdown.hoverable:hover .content, 
.dropdown.opened .content {
	display: block;
}

/* content */
/*
.dropdown .content.left {
	left: 0;
}

.dropdown .content.left-outside {
	right: 100%;
}

.dropdown .content.right {
	right: 0;
}

.dropdown .content.right-outside {
	left: 100%;
}

.dropdown .content.top {
	top: 0;
}

.dropdown .content.top-outside {
	bottom: 100%;
}

.dropdown .content.bottom {
	bottom: 0;
}

.dropdown .content.bottom-outside {
	top: 100%;
}
*/
