
/**
 * Tabs
 */

.tabs {
	border-bottom: 1px solid #e0e0e0;
}

.tabs > ul {
	display: flex;
	margin-bottom: -1px;
}

.tabs > ul > li {
	margin-right: 8px;
}

.tabs > ul > li > a {
	color: #616161;
	border-bottom: 1px solid transparent;
	border-radius: 0;
	white-space: nowrap;
}

.tabs > ul > li > a.active {
	border-bottom: 1px solid #212121;
}

.tabs > ul > li > a:active,
.tabs > ul > li > a:hover {
	color: #212121;
	background-color: transparent;
}
